# Ignore everything by default
*

# Allow important files and directories
!hs.py
!README.md
!LICENSE
!DOCS.md
!.gitignore
!tests/
!tests/**
!hpie/
!examples/
!demos/
!demos/**

# Allow contents of important directories
!hpie/**
!examples/**

# Still ignore Python noise and caches within allowed directories
**/__pycache__/
*.py[cod]
*$py.class
